@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  img,
  video {
    max-width: 100%;
    height: auto;
  }
}

.bor{
    border: 2px solid green;
}
.borr{
    border: 2px solid red;
}


.frame{
    position: relative;
    height: 92vh;
    background:linear-gradient(130deg, #1B2D37, #5D6E75);
}

*{
    /* border: 1px solid red; */
}

.menu_icons{
    width: 30px;
    
}

.feild{
    background: url("../public/images/playground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #96FD52;
    background-size: 30rem 35rem;
    
}
.player_rating .player {
    position: absolute;
}
.caret_down {
    position: absolute;
    height: 30px;
    top: calc(50% - 15px);
    /* border: 1px solid black; */
}

.caret_up{
    position: absolute;
    height: 30px;
    top: calc(50% - 15px);
    right: 0;
    /* border: 1px solid black; */

}
.spitting_item_details_img{
    width: 100px !important;
}



.paid, .unpaid {
    min-height: 100%;
    transition: background-color 0.3s;
}

.paid.drag-over, .unpaid.drag-over {
    background-color: rgba(53, 228, 85, 0.1);
}

.unpaid.drag-over {
    background-color: rgba(244, 100, 100, 0.1);
}

[draggable] {
    cursor: grab;
}
*{
    /* border: 1px solid red; */
}
[draggable]:active {
    cursor: grabbing;
}
/* 
.player img{
    width: 50px !important;
}

.player_history .player_img {
    width: 120px !important;
    max-width: none;
}

.history_middle .player_img{
    width: 60px !important;
    max-width: none;
}



.feild .player {
    position: absolute;
}




.history_middle::before{
    content: "----------------------معدلك     --  م. المباراة";
    font-size: 11px;
}

.game_history .player{
    border-radius: 50% !important;
}


.icon_left{
    width: 30px !important;
}



.spitting_items img{
    width: 90px;
}



.spitting_item_details_top img{
    width: 110px;
}



.spitting_item_details_bottom img{
    width: 50px !important;
}
.spitting_item_details_bottom *{
}


.player_rating .player{
    position: absolute;
    width: 50px !important;
}
.player_rating .player img{
    width: 40px !important;
}
.player_rating .player .player_name{
    display: none;
}

.caret{
    width: 20px !important;
}
.caret_down{
    position: absolute;
    left: 5px;
    top: 20px;
}
.caret_up{
    position: absolute;
    right: 5px;
    top: 20px;
}
.bottom_menu * {
    margin: 0;
    padding: 0;
}

.bottom_menu li{
    background-color: red;
    height: 15px;
} */